<html>
  <head>
    <title>HTML5 Hacks - Server Sent Events</title>
    <meta charset="utf-8" />

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="push.js" type="text/javascript"></script>
    <script src="es.js" type="text/javascript"></script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>